body {
    margin:4px ;
    text-align:22px; 
    color:aqua;
    font-style:bold;
    font-size:20px;
    background-color:rgba(0, 255, 255, 0.619);
    /* width:20px; */ 
   color:rgba(176, 43, 20, 0.906);
    /* display:grid; */
   }
   h1{                
    background-color:darkmagenta;
    /* text-indent: 50px; */
    text-transform:uppercase;
    text-align: center;
    }
      h1 {
        display:inline;
        padding: 1px;
        font-size: 24px;
        color:blanchedalmond;
      }
      h4 {
        display:inline;
        padding: 1px;
        font-size: 24px;
        color:brown;
      }
      div{
        text-align:left;
  
      }
      /* h5{
          display:inline;
          padding: 1px;
          font-size: 24px;
          color:brown;
        }
        
     */